/*RESETS*/
*{
   /* border: 1 px solid red;
   background-color: rgba(243, 29, 29, 0.3);
   border: 2px dashed #7df31d; 
    box-sizing: border-box; 
        margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; e o comportamento do nosso scroll e quando clicamos e isso vai levar para cima ou
    para baixo da pagina  */
}

* {    
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
    transition: color 0.6s ease-in;
    }

a:hover {
    color: blue;
}

ol {
    list-style: none;
}
 
li {
    list-style: none;
    }

h4, 
li :first-child {
    margin-top: 16px 0 0 0 ;
}

li :last-child {
    margin-bottom: 16px;

}

header p:first-child {
    font-weight: bold;
    color: blue;
}
  
main,
aside {
    margin: 20px 40px;
    padding: 15px;
    border-radius: 10px;
    background-color: ghostwhite;

main  {
    border-width: 2px;
    border-style: groove;
    border-color: darkgreen;
    border-radius: 10px 20px 30px 40px;
    padding: 15px;
                
}
section .destaque {
    color: red;
}

img {
    border-radius: 50%;
    transition: all 0.8s ease-in-out;
    border: 5px solid blue;
}
img:hover {
    transform: rotate(360 deg) scale(1.05);
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    
}
    
a [href="#meuheader"] {
    background-color: red;
    color: #fff;
    border: 2px dotted black;
    padding: 10px 20px;
    text-transform: capitalize;
    height: 60px;
    width: fit-content;
    border-radius: 30px;
    margin: 20px 30px;
    display: block;
}

#elemento {
    position: relative
    ;
}